<div id="unresolved-promise">
  {{model.promise}}
</div>

<div id="resolved-promise">
  {{resolve-promise model.promise}}
</div>

<div id="unresolved-promise-to-component">
  {{my-component child=model.child}}
</div>

<div id="resolved-promise-to-component">
  {{my-component child=(resolve-promise model.child)}}
</div>
